*.zip
*.7z
es-MX/paulina/
**/*input*/
**/*output*/
**/*logs*/
commands.txt
*.wav
*.csv
*.log
*.json*
!tom_vin_structure.json
wav*
*/*/transcripts
~*.*~
**/__*__/
**/.*/
*.pkl
!mara.wav
!craig.wav
tom16.vdb
en-US/tom/tom16.vdb
diagnostics/
!reveng/voice_cloning/tom_16k/*.wav
!reveng/voice_cloning/rvc_input_flashsr/
!reveng/voice_cloning/rvc_input_flashsr/*.wav
