*.zip
*.7z
es-MX/paulina/
**/*input*/
**/*output*/
**/*logs*/
commands.txt
*.wav
*.prn
*.csv
*.log
reveng/att/
reveng/ss_rs/
*.json*
!tom_vin_structure.json
!spfy/test/oracle/corpus.jsonl
wav*
*/*/transcripts
~*.*~
**/__*__/
**/.*/
*.pkl
!demos/*.wav
!demos/
tom16.vdb
en-US/tom/tom16.vdb
diagnostics/
!reveng/voice_cloning/tom_16k/*.wav
!reveng/voice_cloning/rvc_input_flashsr/
!reveng/voice_cloning/rvc_input_flashsr/*.wav
CMakeCache.txt
RESUME.md
!.github
installer/dist/
!spfy/data/
!spfy/data/**
